<div class="displayTable">
  <div class="displayTableCell">
    <div class="authBlock">
      <h3>Esqueceu a senha</h3>

      <p class="text-center">
        Por favor entre com o endereço de e-mail para executar o reset de senha.
      </p>

      <div class="formGroup">
        <input
          type="email"
          class="formControl"
          placeholder="Endereço de e-mail"
          #passwordResetEmail
          required
        />
      </div>

      <!-- Calling ForgotPassword from AuthService Api -->
      <div class="formGroup">
        <input
          type="submit"
          class="btn btnPrimary"
          value="Resetar"
          (click)="authService.ForgotPassword(passwordResetEmail.value)"
        />
      </div>
    </div>

    <div class="redirectToLogin">
      <span
        >Ir para?
        <span class="redirect" routerLink="/sign-in">Login</span></span
      >
    </div>
  </div>
</div>
